
          <nz-content>
                <div style="margin-bottom: 15px;">
                  <button nz-button nzType="primary" (click)="createComponentModal('details')">Add Button</button>
                </div>
                <div class="table-operations">
                  <button nz-button (click)="sortByAge()">Sort age</button>
                  <button nz-button (click)="resetFilters()">Clear filters</button>
                  <button nz-button (click)="resetSortAndFilters()">Clear filters and sorters</button>
                  
                  <span style="float:right;">
                  <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
                    <input type="text" nz-input placeholder="input search text" />
                    </nz-input-group>
                    <ng-template #suffixButton>
                      <button nz-button nzType="primary" nzSize="large" nzSearch>Search</button>
                    </ng-template>
                  </span>
                </div>
                <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
                <thead>
                    <tr>
                    <th
                        *ngFor="let column of listOfColumns; trackBy: trackByName"
                        [(nzSortOrder)]="column.sortOrder"
                        [nzSortFn]="column.sortFn"
                        [nzFilters]="column.listOfFilter"
                        [nzFilterFn]="column.filterFn"
                    >
                        {{ column.name }}
                    </th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of filterTable.data">
                    <td>{{ data.name }}</td>
                    <td>{{ data.address }}</td>
                    <td>{{ data.location }}</td>
                    <td>{{ data.size }}</td>
                    <td>{{ data.technologies }}</td>
                    <td>{{ data.waste }}</td>
                    <td>{{ data.disposal }}</td>
                    <td>{{ data.hazard }}</td>
                    <td><a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">Delete</a></td>
                    </tr>
                </tbody>
                </nz-table>
                  <ul>
                  <li *ngFor="let profile of profiles$ | async">
                    <ul>
                      <li>Title: {{ profile.id }}</li>
                      <li>Title: {{ profile.waste }}</li>
                      <li>Title: {{ profile.name }}</li>
                      <li>Content: {{ profile.street }}</li>
                      <li>Due Date: {{ profile.county }}</li>
                    </ul>
                  </li>
                </ul>
          </nz-content>

          <nz-modal
            [(nzVisible)]="isVisible"
            nzTitle="Modal Title"
          >
            <p *nzModalContent>Modal Content</p>
          </nz-modal>