
          <nz-content>
                <div style="margin-bottom: 15px;">
                  <button nz-button nzType="primary" (click)="createComponentModal('details')">Add Button</button>
                </div>
                <div class="table-operations">
                  <button nz-button (click)="sortByAge()">Sort age</button>
                  <button nz-button (click)="resetFilters()">Clear filters</button>
                  <button nz-button (click)="resetSortAndFilters()">Clear filters and sorters</button>
                  
                  <span style="float:right;">
                  <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
                    <input type="text" nz-input placeholder="input search text" />
                    </nz-input-group>
                    <ng-template #suffixButton>
                      <button nz-button nzType="primary" nzSize="large" nzSearch>Search</button>
                    </ng-template>
                  </span>
                </div>
                <nz-table #filterTable  nzTableLayout="fixed">
                <thead>
                    <tr>
                    <th
                        *ngFor="let column of listOfColumns; trackBy: trackByName"
                        [(nzSortOrder)]="column.sortOrder"
                        [nzSortFn]="column.sortFn"
                        [nzFilters]="column.listOfFilter"
                        [nzFilterFn]="column.filterFn"
                    >
                        {{ column.name }}
                    </th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of profiles$ | async">
                    <td>{{ data.name }}</td>
                    <td>{{ data.street }}</td>
                    <td>{{ data.county }}</td>
                    <td>{{ data.activities[0]?.size }}</td>
                    <td>{{ data.activities[0]?.technology }}</td>
                    <td>{{ data.waste[0]?.waste_type }}</td>
                    <td>{{ data.waste[0]?.disposal_mechanism }}</td>
                    <td>{{ data.waste[0]?.potential_hazard }}</td>
                    <td>
                      <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)">Delete</a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a (click)="createComponentModal('details', data)">update</a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a href="#">More action</a>
                      </td>
                    </tr>
                </tbody>
                </nz-table>
          </nz-content>

          <nz-modal
            nzTitle="Modal Title"
          >
            <p *nzModalContent>Modal Content</p>
          </nz-modal>