[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"

[dev-packages]
model-mommy = "*"
coverage = "*"

[requires]
python_version = "3.8"
